/* Home.css */


body {
  background-color: #90b8d4; /* Your hidden background color */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */

}

#home {
  padding: 0 !important;
  margin: 0;
}

.intro-video {
    width: 100%; /* Make the video take up the full width */
    max-height: 80vh; /* Optional: Set a maximum height */
    object-fit: cover; /* Ensure the video covers the space nicely */
    display: block; /* Ensure it's a block element */
    margin-top: 0px; /* Remove any margin */
    margin-bottom: 60px; /* Add spacing below the video if needed */
    padding-top: 0;
  }
  
  #home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20px; /* Optional: Add some padding at the top */
    padding-bottom: 0; /* Optional: Add some padding at the bottom */
    background-color: #d9e7ef;
    border-bottom-left-radius: 16px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 16px; /* Rounded bottom-right corner */
}

h2 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 0px;
  margin-top: 0px;
}

h1 {
  font-size: 38px;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 28px;
  margin-bottom: 6px;
}
p{
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
  
.welcome-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center contents vertically */
  align-items: center; /* Center contents horizontally */
  text-align: center; /* Center text within the container */
  padding: 0px; /* Add some padding for spacing */


  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;

  padding-bottom: 40px;
  
}

.about-container {
  height: 800px; /* Adjust height as needed */
  background-color: #c9dee8; /* Section background color */
  margin: 10px 0; /* Center the container horizontally and add vertical spacing */
  width: 100%; /* Adjust width to allow for gaps on both sides */
  border-radius: 16px; /* Optional: Rounded corners for the container */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

.services-container {
  height: 800px; /* Adjust height as needed */
  background-color: #d9e7ef; /* Section background color */
  margin: 10px 0; /* Center the container horizontally and add vertical spacing */
  width: 100%; /* Adjust width to allow for gaps on both sides */
  border-radius: 16px; /* Optional: Rounded corners for the container */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}